@media (min-width: 768px) and (max-width: 1024px) {
  .inner{
    width: 90%;
    padding-top: 120px;
  }
  /* ########## intro ########## */
  .intro{
    .text-wrap{
      font-size: 65px;
      font-weight: 600;
    }
    .fa-arrow-down{
      font-size: 35px;
    }
  }
  /* ######### about-me ######### */
  .about-me{
    .inner{
      .info-top-wrap{
        grid-template-areas:
          "title title"
          "image info";
        grid-template-columns: 1fr 2fr;
        max-width: 1000px;
        margin: 0 auto;
        .info-img{
          margin: 0 40px;
        }
        .info-text-top{
          text-align: center;
          p{
            font-size: $h4;
            line-height: 1.3;
            strong{
              font-size: 35px;
              font-weight: 600;
            }
          }
        }
        .info-text-bottom{
            flex-direction: column; gap: 25px; height: max-content;
            margin-bottom: 10px;
        }
      }
      .info-bottom-wrap{
        .info-bottom-title{
          h2{
            font-size: $h3;
          }
        }
        .info-bottom-items{
          
          .info-bottom-item{
            .item-text{
              padding: 15px 20px;
              font-size: $h6;
              border: 2px dashed $white;
            }
            &:nth-child(2){
              .item-balloon{
                left: 10%;
                &::before{
                  content: "";
                  left: 40%;
                }
              }
            }
            &:nth-child(3){
              .item-balloon{
                left: 10%;
                &::before{
                  content: "";
                  left: 70%;
                }
              }
            }
            &:nth-child(4){
              .item-balloon{
                left: 27%;
                &::before{
                  content: "";
                  left: 85%;
                }
              }
            }
          }
        }
      }
    }
  }
  /* ######### Skills ######### */
  .Skills{
    .skills-content{
      padding: 25px 40px;
      display: flex; justify-content: center; gap: 40px; flex-direction: column;
      margin-top: 40px;
      .skills-left{
        flex: 6;
        padding-left: 0;
        .skill-wrap{
          @at-root .skills-sub-title{
            h4{
              margin: $margin20;
            }
          }
          .skill-items{
            .skill-item-wrap{
              .info-bottom-item{
                .item-balloon{
                  width: 430px; height: auto;
                  line-height: 1.3;
                  display: flex; align-items: center; justify-content: center;
                  padding: 10px;
                  margin-top: 10px;
                }
                &:hover{
                    .item-text{
                      animation: none;
                    }
                    .item-balloon{
                      opacity: 1;
                      visibility: visible;
                      transform: translateY(0);
                    }
                  }
              }
            }
          }
        }
      }
    }
  }
  /* ######### Portfolio Hub ######### */
  .portfolio-hub{
    .input-wrap{
      flex-direction: column;
      margin: 50px 0 40px;
      .option-wrap{
        width: 90%;
        .sub-title{
          h6{
            margin: 0 0 10px;
          }
        }
        .input-items{
          width: 100%;
          border: 1px solid $dark-gray;
          border-radius: 10px;
          padding: 20px;
          display: flex; gap: 25px;
          .input-item{
            input[type="checkbox"]{
              vertical-align: middle;
              margin-right: 10px;
              cursor: pointer;
              border-color: transparent;
            }
            label{
              color: $dark-black;
              margin-right: 15px;
              cursor: pointer;
              &:last-child{margin-right: 0;}
              &:hover{
                color: #000000;
              }
            }
          }
        }
      }
    }
    .portfolio-content{
      gap: 30px;
      margin-top: 50px;
      .portfolio-Card{
        width: calc(90% / 2);
      }
    }
    .portfolio-popup-wrap{
      .popup-content{
        .img-wrap{
          img{
            &.main-img{
              width: 80%;
            }
            &.sub-img{
              width: 80px;
              margin-left: -50px;
            }
          }
        }
      }
    }
  }
  /* ######### Epilogue ######### */
  .epilogue{
    .epilogue-content{
      .epilogue-items{
        .epilogue-question{
        font-size: $h6;
        }
        .epilogue-answer{
          font-size: $body-title;
          line-height: 1.6;
          padding-left: 20px;
        }
        &:first-child{
          .epilogue-question{
          span{
            &:last-child{
              display: block;
              padding-left: 20px;
              margin: $text-margin;
            }
          }
        }
        }
      }
    }
  }
}
